@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */

.display-flexing{
    display: flex;
}

.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}

.dark-3{
  color: #727272;  
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar, .banner{
    max-width: 1150px;
    margin: 0 auto;
}

main, footer{
    max-width: 1150px;
    margin: 0 auto;
}

main>section{
    margin-top: 100px;
}

.section-title{
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.description{
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 25px;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 16px 20px;
    border:none;
    border-radius: 7px;
    font-weight: 600;
    font-size: 1rem;
}
/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: bold;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 20px;
}

.nav-link{
    text-decoration: none;
    font-weight: 600px;
    font-size: 1rem;
}

/* Banner styles */

.banner-content{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.banner-title{
    font-weight: bold;
    font-size: 3rem;
}
.banner-image{
    width: 100%;
    margin-bottom: 20px;
}

/* teams and feature style */
.teams{
    align-items: center;
}

.team-image-container{
    /* max-width: 500px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
}

.tema-image-container>img{
    width: 100%;
    height: 100%;
}
.our-feature{
    margin-left: 60px;
    max-width: 430px;
}


#quick-list{
    font-weight: 500;
}
#features{
    color: #FF900E;
}






/* Enjoyabile feature style */

.features{
    gap: 105px;
    margin-bottom: 100px;
}

#title-border{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-cards{
    width: 440px;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 15px auto;
}
.feature-description{
    width: 470px;
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 25px;

}

.featured-architect img{
    width: 100%;
}
#experience-badge{
    padding: 45px 35px;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: -70px;
    margin-top: -100px;
}

#experience-year{
    font-weight: bold;
    font-size: 3rem;
}





/* some facts style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 2px solid #FF900E;
    border-radius: 8px;
    width: 190px;
    height: 190px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px 35px;
}

.fact-num{
    font-weight: 600;
    font-size: 2.3rem;
    margin-top: 20px;
    margin-bottom: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.fact-description{
    width: 430px;
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 80px;
}
/* sponsor style */
.sponsors-info{
    max-width: 430px;
    margin: 70px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}


/* footer style */

#footer-subtitle{
    
    margin-top: 130px;
    margin-bottom: 200px;
    background-color: #FFF4E7;
    text-align: center;
    padding: 30px 300px;
    font-weight: 400;
    font-size: 1rem;
}






/* Responsive style */
/* small device */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }
    .team-image-container, 
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-description{
        width: 400px;
    }
    .feature-cards{
        width: 370px;
    }
    .featured-architect img{
        width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 60px;
    }
    .some-fact{
        text-align: center;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .fact-description{
        width: 100%;
    }
    .our-feature{
        margin-left: 30px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 40px;
    }

    #footer-subtitle{
        padding: 30px 0px;
    }
}

/* mediuam device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .some-fact{
        text-align: center;
    }
    .fact-description{
        width: 100%;}
    .facts-container{
        justify-items: center;
        grid-template-columns: repeat(2,1fr);
    }
    .sponsor-companies{
        justify-items: center;
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
    }
}